@import "../../theme/theme";

nav.navigation {
  border-radius: 0px;
  margin: 0;
  background: rgba($secondary-color, 0.9);
  border: none;
  z-index: 999;

  li a:hover {
    background-color: darken($tertiary-color, 40%);
    transition: background-color 200ms;
  }
}
nav .navbar-header {
  cursor: pointer;
}
