.NoteDisplay {
  flex: 1;
  display: flex;

  #card-drop-container {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20vw;
    flex-direction: row;
    align-content: flex-start;
  }
}
