@import "../../../theme/theme";

.Signup {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  opacity: 0;

  @media screen and (max-width: 768px) {
    margin-top: 7.5rem;
  }

  // display: none;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  transition: opacity 500ms linear 500ms;

  h1 {
    font-family: $header-font;
    color: $secondary-color;
    text-align: center;
  }
}

.fadein {
  animation: fadeIn 500ms 500ms ease-in-out 1 forwards;
}

.fadeout {
  animation: fadeOut 500ms 500ms ease-in-out 1 forwards;
  display: none;
  transition: display 1000ms;
}

.signup-form {
  margin: auto;
  width: 75%;
}

.signup-form .button-wrapper {
  text-align: center;
}

.signup-form button {
  margin: 1rem 2rem;
  padding: 1.25rem 5rem;
  font-size: 2rem;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
