@import "../../theme/theme";

.Home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}

.app-name-canvas {
  position: absolute;
  width: 300px;
}

.home-popup {
  position: absolute;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
  height: 60%;
  right: -50%;
  top: 25%;
  animation: slideIn 500ms 300ms ease-out 1 normal forwards;

  .action {
    font-weight: bold;
    margin: 0.5rem;
  }

  .action-1 {
    color: $quaternary-color;
  }

  .action-2 {
    color: $tertiary-color;
  }

  .action-3 {
    color: $secondary-color;
  }

  h3 {
    font: bold 4rem $header-font;
    color: $secondary-color;
  }

  p {
    font: normal 2rem "Courier New";
    color: black;
    line-height: 2.5rem;
  }
}

@keyframes slideIn {
  from {
    right: -50%;
  }

  to {
    right: 5%;
  }
}
